MQTT_BROKER_URL=mqtt://127.0.0.1
GATEWAY_ID=GW_YOUR_ID
HTTP_PORT=3001
MQTT_USERNAME=admin
MQTT_PASSWORD=your_password
SERVER_API_BASE_URL=http://localhost:6060
SERVER_RESPONSE_PATH=/api/response
SERVER_DEVICE_SYNC_PATH=/api/device/sync
SERVER_DEVICE_SNAPSHOT_PATH=/api/device/snapshot
SERVER_API_TIMEOUT=5000
SERVER_SNAPSHOT_TIMEOUT=15000
GATEWAY_PUBLIC_IP=127.0.0.1
DEVICE_DISCONNECT_AFTER_SECONDS=60
